body {
    background: #ADD8E6;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.calculator {
    background: #1e1e2f;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3b3b5c;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #57577d;
}

.zero {
    grid-column: span 2;
}

.history {
    margin-top: 15px;
    max-height: 100px;
    overflow-y: auto;
}

.toggle {
    margin-top: 10px;
    width: 100%;
}